# macOS
.DS_Store

# VSCode
.vscode/

# Environment
.env

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/

# Data folders
data/mongodb/
data/postgres/
data/n8n/

# Generic build folders
build/
tmp/
temp/